<% content_for :page_title, @ticket.student_id %>

<section class="section">
    <div class="container">
        <nav class="level">
            <div class="level-left">
                <p class="level-item">
                    <strong>Actions</strong>
                </p>
            </div>

            <div class="level-right">
                <p class="level-item">
                    <%= link_to "Edit", edit_ticket_path(@ticket), class: "button" %>
                </p>
                <p class="level-item">
                    <%= link_to "Delete", ticket_path(@ticket), method: :delete, data: {confirm: "Are you sure?"}, class: "button is-danger" %>
                </p>
            </div>
        </nav>
        <hr />

        <div class="content">
            <%= @ticket.fault%>
        </div> 
    </div>
</section>

<section class="section comments">
    <div class="container">
        <h2 class="subtitle is-5"><strong><%= @ticket.comments.count %></strong></h2>
        <%= render @ticket.comments %>
        <div class= "comments-form">
            <hr/>
            <h3 class="subtitle is-3">Leave a reply</h3>
            <%= render 'comments/form' %>
        </div>
    </div>
</section>